<!DOCTYPE html>
<html lang="en">
<!-- Imports -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <meta charset="utf-8">
  </head>
  <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/">Krishon</a>
            </div>
            <ul class="nav navbar-nav bg-light">
            <li><a href="/">Home</a></li>
            <li><a href="/Venues">Venues</a></li>
            <li><a href="/Artists">Artists</a></li>
            <li class="active" ><a href="/Genres">Genres</a></li>
            <li><a href="/User">Profile</a></li>
            <li><a href="/About">About</a></li>
            </ul>
        </div>
    </nav>
  <body>
    <div style = "background-color: azure">
                <div class="jumbotron" style = "text-align: center; background-color: azure">
                  <h1>HIPHOP CONCERTS</h1>
                </div>
                <div id = "BandContainer" style = "text-align: center">

                </div>
        </div>
  </body>
  <script>
      var request = new XMLHttpRequest();
      request.open('GET', 'http://localhost:3000/DATA/HipHop', true)
  
  request.onload = function () {
      // Begin accessing JSON data here
      var data = JSON.parse(this.response)
      if (request.status >= 200 && request.status < 400) {
          // The object itself contains a map of indexes to values, 
          //so every element is itself, an index at face, IE just say data[element], ok.
          var Bc = document.getElementById('BandContainer');
          var newRow = document.createElement('div');
          newRow.className = "container-fluid";
          var i = 0;
          for(var element in data){
              var newCol = document.createElement('div');
              console.log(i);
              newCol.style = i%2 == 0? "background-color:lavender;": "background-color:lavenderblush;";
              newCol.className = "col-lg-4";
              newCol.innerHTML = "<img src ='" +data[element].Image +"' alt=Lamp width=70% height=70%/>";
              newRow.append(newCol)
              if(++i % 3 == 0 ){
                  Bc.append(newRow);
                  newRow = document.createElement('div');
                  newRow.className = "container-fluid";
              }
          } 
          if(i%3!=0){
            Bc.append(newRow);
          }
      } else {
          console.log('error')
      }
  }
  // Send request
  request.send()
    </script>
</html>
