<!DOCTYPE html>
<html lang="en">
<!-- Imports -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <meta charset="utf-8">
  </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top ">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/">Krishon</a>
                </div>
                <ul class="nav navbar-nav bg-light">
                <li><a href="/">Home</a></li>
                <li><a href="/Venues">Venues</a></li>
                <li><a href="/Artists">Artists</a></li>
                <li><a href="/Genres">Genres</a></li>
                <li class = "active"><a href="/User">Profile</a></li>
                <li><a href="/About">About</a></li>
                </ul>
            </div>
        </nav>
        <div style = "padding-top: 100px">
        <form action = "/SignUp" method = "POST">
        Name:
        <input type= "TEXT" name = "name"> </input>
        Age: 
        <input type= "NUMBER" name = "age"></input>
        Genre:
        <input type= "TEXT" name = "favoriteGenre"></input>
        Location:
        <input type="TEXT" name = "location" value = "Hampton,VA"></input>
        ID:
        <input type="NUMBER" name = "id" value = "1001"></input>
        <br>
        <input type="submit">	</input>
        </form>
    </div>
    </body>
    <script>
    </script>
</html>
